<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <img src="{{ gravatar(app.user.username) }}" class="img-circle" alt="User Image">
                {% else %}
                    <img src="{{ asset('dist/img/avatar5.png') }}" class="img-circle" alt="User Image">
                {% endif %}
            </div>
            <div class="pull-left info">
                <p>Diego Nobre</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="{{ 'Search'|trans }}...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">{{ 'MAIN NAVIGATION'|trans }}</li>
            <li class="treeview">
                <a href="{{ path('admin') }}">
                    <i class="fa fa-dashboard"></i> <span>{{ 'Dashboard'|trans }}</span>
                </a>
            </li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>{{ 'Important'|trans }}</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>{{ 'Warning'|trans }}</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>{{ 'Information'|trans }}</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
